@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --main-color: #0e394e;
}

body {
    font-family: 'Poppins', sans-serif;
}

.resume-paper {
    width: 21cm;
    height: 29.7cm;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
}

.resume-header {
    position: relative;
    width: 100%;
    /* background-color: #0e394e; */
    background: #0e394e;
    height: 10em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.resume-education,
.resume-experience {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.education-header,
.experience-header {
    font-weight: bold;
    color: var(--main-color);
    background-color: #eef1f3;
    width: 90%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    margin-top: 30px;
    border: 7px;
}